
.item4 {
    grid-column: 1 / 6;
    margin: 0 auto;
    min-height: 65vh;
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: row;
}

h1 {
    color: $headings1;
}

ul,
li {
    list-style: none;
    font-size: 1em;
    padding: 1vh 0 0 1.5vw;
}

a,
a:visited {
    text-decoration: none;
    color: $body-text;
    font-weight: bold;
}

.main {
    h1 {
        margin: 0;
        // padding: 1vw;
    }

    
    p {
        padding-left: 0.55vw;
    }

    ul,
    li {
        list-style: none;
        font-size: 1em;
        padding: 1vh 0 0 1.5vw;
    }

    a,
    a:visited {
        text-decoration: none;
        color: $body-text;
        font-weight: bold;
    }
}

.with-image {
    display: grid;
    grid-template-columns: 25vw 40vw;
    align-items: center;


    h1 {
        margin: 0;
    }

    .l-img {
        padding: 0.3em;
        max-width: 100%;
        filter: brightness($img-bright);
    }

    .img-col {
        grid-column: 1;
   
    }

    .content {
        grid-column: 2;
        justify-self: stretch;
    }
}


.rep-cont {
    grid-column: 1 / 6;
    display: grid;
    min-height: 65vh;
    grid-template-columns: 10vw 45vw 15vw;
    margin: 0 auto;
    align-items: center;

        
    .sidebar {
        grid-column: 1;
        margin: 0;
    }


    .sidebar,
    .img-col {
        align-self: flex-start;
        position: sticky;
        margin-top: 5vh;
        margin-bottom: 5vh;
        top: 5%;
    }


    .sidebar a {
        display: block;
        overflow-wrap: break-word;
        margin-right: 1vw;
    }

    a:hover {
        color: $hoover-links;
    }

    .without-img {
        grid-column: 2;
    }

    .img-col {
        grid-column: 3;
    }

    .l-img {
        margin: 0 1em;
        width: 15vw;
        filter: grayscale(60%) contrast(98%) brightness($img-bright);
    }

    .content {
        grid-column: 2;
    }

}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


