.item5 {
    height: 10vh;
    grid-column: 1 /4;
    background-color: $rasberry-pink;
}

.item6 {
    grid-column: 4 / 6;
    background-color: $rasberry-pink;
 

    .social {
        font-size: 5vh; 
    }

    .social a {
        text-decoration: none;
    }
}


.item5,
.item6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
        font-size: 2vh;
        margin: 0 auto;
    }

    a {
        color: $body-text;
    }

    a:hover {
        color: $body-text;
    }
}


