.item5 {
    height: 12vh;
    grid-column: 1 /4;
    background-color: $rasberry-pink;
}

.item6 {
    grid-column: 4 / 6;
    background-color: $rasberry-pink;

    .social {
        padding-top: 0.5em;
        font-size: 5vh;
    }

    .social a {
        text-decoration: none;
    }
}


.item5,
.item6 {
    p {
        padding: 2.5em 0 0 3em;
        font-size: 2vh;
        margin: 0;
    }

    a {
        color: $body-text;
    }

    a:hover {
        color: $body-text;
    }
}


