.report {
    // background-color: lightcoral;
    width: inherit;
    display: grid;
    gap: 1em;
    

    h1 {
        grid-column: span 3;
        justify-self: center;
        margin: 0;
        // border-bottom: 0.2em dotted $rasberry-pink; 
    }

}



.kmom-box {
    border-bottom: 0.15em dotted $hoover-dotted;
    display: flex;
    flex-direction: column;
    align-items: center;



    h2 {
        width: span;
        color: $headings2;
    }

    h2:hover {
        color: $hoover-dotted;
    }

    
}

.project {
    grid-column: span 3;
}

.in-report {
    width: 15vw;
    
}



