@import 'variables-dark';
@import 'shared';


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}


html,
body {
    background-color: $background-color;
    margin: 0;
    font-family: $basic-font;
    font-size: $basic-size;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $body-text;
}

.container {
    max-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
