$body-text: #7d7d7d;
$accent-color: #4a3434;
$header: #3b1c1f;
$headings1: #785456;
$headings2: #874047;
$hoover-links: #7d5757;
$hoover-dotted: #7d5757;
$footer-links: #666;
$background-color: #313131;


$basic-font: 'Quicksand', sans-serif, 'Arial', monospace;
$header-font: 'Unica One', cursive, 'Arial';
$basic-size: 1.105em;

$img-gray: 100%;
$img-contrast: 100%;
$img-bright: 90%;
