$body-text: #575252;
$accent-color: #ba5a63;
$headings1: #3b1c1f;
$headings2: #874148;
$hoover-links: #ba5a63;
$hoover-dotted: #ba5a63;
$background-color: #fff;
$footer-links: #3b1c1f;

$basic-font: 'Quicksand', sans-serif, 'Arial', monospace;
$header-font: 'Unica One', cursive, 'Arial';
$basic-size: 1.105em;

$img-gray: 0;
$img-contrast: 0;
$img-bright: 100%;
