$body-text: #575252;
$accent-color: #ca8290;
$headings1: #4A2F35;
$headings2: #D24863;
$hoover-links: #96606B;
$hoover-dotted: #96606B;
$background-color: #fff;
$footer-links: #4A1923;

$basic-font: 'Quicksand', sans-serif, 'Arial', monospace;
$header-font: 'Unica One', cursive, 'Arial';
$basic-size: 1.105em;

$img-gray: 0;
$img-contrast: 90%;
$img-bright: 100%;
